@model DND_Character_Sheet_Webapp.Models.DnD5ePlayerItem

@{
    ViewData["Title"] = "Create";
}
<style>
    .form-group .form-textarea {
    }

    .form-group {
        padding-top: 7px; /* Set your desired top padding here */
        padding-bottom: 7px; /* Set your desired bottom padding here */
    }
</style>

<h1>Create</h1>

<h4>DnD5ePlayerItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <partial name="_ItemForm" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
