@model DND_Character_Sheet_Webapp.Models.DnD5eWeapon

<style>
    .form-group {
        padding-top: 7px; /* Set your desired top padding here */
        padding-bottom: 7px; /* Set your desired bottom padding here */
    }
    .control-label{
        font-size: 1em;
        font-weight:bold;
    }
</style>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control"  />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <input asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="WeightInPounds" class="control-label">Weight</label>
    <input asp-for="WeightInPounds" class="form-control" placeholder="Weight in pounds." />
    <span asp-validation-for="WeightInPounds" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CostInGoldPieces" class="control-label">Value in GP</label>
    <p>If the item has no measurable value or is worthless, enter 0</p>
    <input asp-for="CostInGoldPieces" class="form-control" />
    <span asp-validation-for="CostInGoldPieces" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="WeaponType" class="control-label"><b>Weapon Type</b></label>
    <br />
    <select asp-for="WeaponType" asp-items="@ViewBag.Weapons"></select>
    <span asp-validation-for="WeaponType" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="DamageDice" class="control-label">Damage Die</label>
    <input asp-for="DamageDice" class="form-control" placeholder="Ex. the 8 in 2d8" />
    <span asp-validation-for="DamageDice" class="text-danger" ></span>
</div>
<div class="form-group">
    <label asp-for="NumberOfDice" class="control-label">Number of damage die</label>
    <input asp-for="NumberOfDice" class="form-control" placeholder="Ex. the 2 in 2d8" />
    <span asp-validation-for="NumberOfDice" class="text-danger" ></span>
</div>
<div class="form-group">
    <label asp-for="BonusDamage" class="control-label">Bonus Damage</label>
    <input asp-for="BonusDamage" class="form-control" placeholder="Ex. the 1 in 2d8+1" />
    <span asp-validation-for="BonusDamage" class="text-danger"></span>
</div>
<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="IsMagical" /> Magical?
    </label>
</div>
<div class="form-group">
    <input type="submit" value="Submit" class="btn btn-primary" />
</div>