@{
    ViewData["Title"] = "Home Page";
}

<style>
    .form-body {
        width: 100px; /* Set your desired width here */
    }

</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the 5e character creator and manager. Everything is a WiP so please mind our mess!</p>
    <p>To get started click the "Login" button at the top right and then procede to the "Characters" tab.</p>
    <img src="~/shared media/Mio_Under_Construction.png" />
</div>
