@model DND_Character_Sheet_Webapp.Models.DnD5ePlayerCharacter

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Player" class="control-label"></label>
    <input asp-for="Player" class="form-control" />
    <span asp-validation-for="Player" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Race" class="control-label"></label>
    <select asp-for="Race" asp-items="@ViewBag.Races">
    </select>
    <span asp-validation-for="Race" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Class" class="control-label"></label>
    <select asp-for="Class" asp-items="@ViewBag.Classes">
    </select>
    <span asp-validation-for="Class" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Level" class="control-label"></label>
    <select asp-for="Level" asp-items="@ViewBag.Levels">
    </select>
    <span asp-validation-for="Level" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="charStrength" class="control-label">Strength</label>
    <input asp-for="charStrength" class="form-controlstats" />
    <span asp-validation-for="charStrength" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="charDexterity" class="control-label">Dexterity</label>
    <input asp-for="charDexterity" class="form-controlstats" />
    <span asp-validation-for="charDexterity" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="charConstitution" class="control-label">Constitution</label>
    <input asp-for="charConstitution" class="form-controlstats" />
    <span asp-validation-for="charConstitution" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="charIntelligence" class="control-label">Intelligence</label>
    <input asp-for="charIntelligence" class="form-controlstats" />
    <span asp-validation-for="charIntelligence" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="charWisdom" class="control-label">Wisdom</label>
    <input asp-for="charWisdom" class="form-controlstats" />
    <span asp-validation-for="charWisdom" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="charCharisma" class="control-label">Charisma</label>
    <input asp-for="charCharisma" class="form-controlstats" />
    <span asp-validation-for="charCharisma" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="HitPoints" class="control-label">Max Hitpoints</label>
    <input asp-for="HitPoints" class="form-controlstats" />
    <span asp-validation-for="HitPoints" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Background" class="control-label"></label>
    <input asp-for="Background" class="form-control" />
    <span asp-validation-for="Background" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Alignment" class="control-label"></label>
    <select asp-for="Alignment" asp-items="@ViewBag.Alignments">
    </select>
    <span asp-validation-for="Alignment" class="text-danger"></span>
</div>
<div class="form-group">
    <input type="submit" value="Create" class="btn btn-primary" />
</div>