@model DND_Character_Sheet_Webapp.Models.DnD5ePlayerCharacter

@{
    ViewData["Title"] = "Edit";
}
<style>
    .form-group .form-controlstats {
        width: 100px; /* Set your desired width here */
    }

    .form-group {
        width: 200px;
        padding-top: 7px; /* Set your desired top padding here */
        padding-bottom: 7px; /* Set your desired bottom padding here */
    }
</style>
<h1>Edit</h1>

<h4>Remember to save your changes!</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <partial name="_CharForm" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
